<html>

<head>
    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0;
}
    </style>
</head>

<body>
<img src="certificate.png" alt="tonnos website is shit" id="certificate">

<script>
    function inIframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }

    var certificate = document.getElementById("certificate");

    if (inIframe()) {
        certificate.style.opacity = 1;
    }
    else {
        certificate.parentNode.removeChild(certificate);
    }
</script>

</body>

</html>